/** #Css-rest * */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/** end css Reset **/

/** #color pallet **/
:root {
  --Primary-blue-p: #1D91CC;
  --neutral-white: #FFF;
  --neutral-gray-1-f-9-f-9-f-9: #F9F9F9;
  --neutral-gray-7606060: #606060;
    /* #color Tint*/
    --Tint-5: #77BDE0;
    --Tint-4: #A5D3EB;
    --Tint-3: #BBDEF0;
    --Tint-2: #D2E9F5;
    --Tint-1: #E8F4FA;
      /** #Color Shade **/
      --Shade-5: #061D29;
      --Shade-4: #092B3D;
      --Shade-3: #0C3A52;
      --Shade-2: #11577A;
      --Shade-1: #1774A3;
        /** #Color Gray **/
        --Black: #0C0C0C;
        --Gray-9: #202020;
        --Gray-8: #404040;
        --Gray-7: #606060;
        --Gray-6: #868686;
        --Gray-5: #ADADAD;
        --Gray-4: #CBCBCB;
        --Gray-3: #DFDFDF;
        --Gray-2: #EDEDED;
        --Gray-1: #F9F9F9;
          /** #Color Error**/
          --Error: #C30000;
          --Error-Light-1: #ED2E2E;
          --Error-Light-2: #FFF2F2;
            /** #Color Success **/
            --Success: #00966D;
            --Success-Light-2: #00BA88;
            --Success-Light-2: #F3FDFA;
              /** #Color Warning **/
              --Warning: #A9791C;
              --Warning-Light-2: #F4B740;
              --Warning-Light-2: #FFF8E1;
}
/** #End color pallet **/

/** spacing (gap) **/
:root {
--gap-8px: 8px;
--gap-12px: 12px;
--gap-16px: 16px;
--gap-24px: 24px;
--gap-32px: 32px;
--gap-40px: 40px;
--gap-48px: 48px;
--gap-56px: 56px;
--gap-64px: 64px;
--gap-80px: 80px;
--gap-120px: 120px;
--gap-160px: 160px;
}
/** #End spacing **/

/* value pixel */
:root {
--value-8px: 8px;
--value-12px: 12px;
--value-14px: 14px;
--value-16px: 16px;
--value-18px: 18px;
--value-20px: 20px;
--value-24px: 24px;
--value-32px: 32px;
--value-40px: 40px;
--value-48px: 48px;
--value-56px: 56px;
--value-64px: 64px;
--value-80px: 80px;
--value-120px: 120px;
--value-160px: 160px;
}
/* end value pixle */


/** #Shadows **/
:root {
  --Drop-shadow-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-6: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-8: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-16: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
  --Cards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0.00);
  --contactCards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 24px 14px 0px rgba(0, 0, 0, 0.05), 0px 42px 17px 0px rgba(0, 0, 0, 0.01), 0px 66px 18px 0px rgba(0, 0, 0, 0.00);
}
/** #End Shadows **/

/** #Fonts **/
/* Thin */
@font-face {
  font-family: "IRANSans-Thin";
  src: url("../Fonts/iransans/Thin/Thin.eot");
  src: url("../Fonts/iransans/Thin/Thin.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Thin/Thin.woff2")format("woff2"),
  url("../Fonts/iransans/Thin/Thin.woff")format("woff"),
  url("../Fonts/iransans/Thin/Thin.ttf")format("truetype")
}
/* UltraLight */
@font-face {
  font-family: "IRANSans-UltraLight";
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot");
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff2")format("woff2"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff")format("woff"),
  url("../Fonts/iransans/UltraLight/UltraLight.ttf")format("truetype")
}
/* Light */
@font-face {
  font-family: "IRANSans-Light";
  src: url("../Fonts/iransans/Light/Light.eot");
  src: url("../Fonts/iransans/Light/Light.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Light/Light.eot.woff2")format("woff2"),
  url("../Fonts/iransans/Light/Light.eot.woff")format("woff"),
  url("../Fonts/iransans/Light/Light.ttf")format("truetype")
}
/* Regular */
@font-face {
  font-family: "IRANSans-Regular";
  src: url("../Fonts/iransans/Regular/Regular.eot");
  src: url("../Fonts/iransans/Regular/Regular.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Regular/Regular.woff2")format("woff2"),
  url("../Fonts/iransans/Regular/Regular.woff")format("woff"),
  url("../Fonts/iransans/Regular/Regular.ttf")format("truetype")
}
/* Medium */
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../Fonts/iransans/Medium/Medium.eot");
  src: url("../Fonts/iransans/Medium/Medium.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Medium/Medium.woff2")format("woff2"),
  url("../Fonts/iransans/Medium/Medium.woff")format("woff"),
  url("../Fonts/iransans/Medium/Medium.ttf")format("truetype")
}
/* Demibold */
@font-face {
  font-family: "IRANSans-Demibold";
  src: url("../Fonts/iransans/Demibold/Demibold.eot");
  src: url("../Fonts/iransans/Demibold/Demibold.eot")format("embedded-opentype"),
  url("../Fonts/iransans/Demibold/Demibold.woff2")format("woff2"),
  url("../Fonts/iransans/Demibold/Demibold.woff")format("woff"),
  url("../Fonts/iransans/Demibold/Demibold.ttf")format("truetype")
}
/* Bold */
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../Fonts/iransans/Bold/Bold.eot");
  src: url("../Fonts/iransans/Bold/Bold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Bold/Bold.woff2")format("woff2"),
  url("../Fonts/iransans/Bold/Bold.woff")format("woff"),
  url("../Fonts/iransans/Bold/Bold.ttf")format("truetype")
}
/* Extrabold */
@font-face {
  font-family: "IRANSans-Extrabold";
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot");
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff2")format("woff2"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff")format("woff"),
  url("../Fonts/iransans/Extrabold/Extrabold.ttf")format("truetype")
}
/* Black */
@font-face {
  font-family: "IRANSans-Black";
  src: url("../Fonts/iransans/Black/Black.eot");
  src: url("../Fonts/iransans/Black/Black.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Black/Black.woff2")format("woff2"),
  url("../Fonts/iransans/Black/Black.woff")format("woff"),
  url("../Fonts/iransans/Black/Black.ttf")format("truetype")
}
/* Medium number */
@font-face {
  font-family: "Medium-Number";
  src: url("../Fonts/iransans/Medium-number/Medium-Number.eot");
  src: url("../Fonts/iransans/Medium-number/Medium-Number.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Medium-number/Medium-Number.woff2")format("woff2"),
  url("../Fonts/iransans/Medium-number/Medium-Number.woff")format("woff"),
  url("../Fonts/iransans/Medium-numberk/Medium-number.ttf")format("truetype")
}
/* Light number */
@font-face {
  font-family: "Light-number";
  src: url("../Fonts/iransans/Light-number/Light-number.eot");
  src: url("../Fonts/iransans/Light-number/Light-number.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Light-numberr.woff2")format("woff2"),
  url("../Fonts/iransans/Light-number/Light-number.woff")format("woff"),
  url("../Fonts/iransans/Light-number/Light-number.ttf")format("truetype")
}
:root {
  --Font-IRANSans-Thin: 'IRANSans-Thin';
  --Font-IRANSans-Light: 'IRANSans-Light';
  --Font-IRANSans-Ultralight: 'IRANSans-Ultralight';
  --Font-IRANSans-Regular: 'IRANSans-Regular';
  --Font-IRANSans-Medium: 'IRANSans-Medium';
  --Font-IRANSans-Demibold: 'IRANSans-Demibold';
  --Font-IRANSans-Bold: 'IRANSans-Bold';
  --Font-IRANSans-Extrabold: 'IRANSans-Extrabold';
  --Font-IRANSans-Black: 'IRANSans-Black';
  --Font-IRANSans-Medium-number: 'Medium-Number';
  --Font-IRANSans-Light-number: 'Light-Number';
}
/* #End Font */

/* Typography */
:root {
  /* display txt size */
  --txt-display1-bold: 64px;
  --txt-display2-bold: 56px;
  /* header txt h1 to h7 */
  --h1-bold: 44px;
  --h2-bold: 40px;
  --h3-bold: 32px;
  --h4-bold: 24px;
  --h5-bold: 20px;
  --h6-bold: 16px;
  --h7-Semibold: 20px;
  /*  Body  */
  --Body-XL-Regular: 20px;
  --Body-LG-Regular: 18px;
  --Body-MD-Regular: 16px;
  --Body-SM-Regular: 14px;
  /* Caption */
  --Caption-md-Regular: 12px;
  --Caption-lg-Bold: 14px;
  --Caption-sm-Bold: 10px;
  /* Button */
  --Button-LG-Medium: 16px;
  --Button-SM-Medium: 14px;
  /* Overline */
  --Overline-LG-Regular: 16px;
  --Overline-SM-Bold: 12px;
  /* English numbers */
  --English-Numbers-regular-18: 18px;
  /* Header Font size */
  --H1-XL-Bold: 16px;
  --H2-LG-Bold: 14px;
  --H3-MD-Medium: 16px;
  --H4-SM-Medium: 14px;
  /* body size */
  --Body-xxG-Regular: 16px;
  --Body-xM-Regular: 14px;
  --Body-LG-Regular: 12px;
  --Body-SM-Regular: 10px;
  /* English numbers */
  --English-Numbers-Bold-18: 12px;
  --English-Numbers-regular-12: 12px;
  /* line height */
  --line-height-180: 180%;
  --line-height-140: 140%;
  --line-height-120: 120%;
  --line-height-Auto: auto;
  /* Font weight */
  --Font-weight-400: 400;
  --Font-weight-500: 500;
  --Font-weight-600: 600;
}

/*  */
html {
  direction: rtl;
}

body {
  max-width: 1440px;
  background-color: #636060;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: (1440px,100%);
  height: 104px;
  flex-shrink: 0;
  border: 1px solid var(--neutral-gray-1-f-9-f-9-f-9);
  background-color: var(--neutral-white);
}
.nav__logo {
  position: relative;
  top: 28px;
  right: 108px;
}
.nav__logo-image {
  width: 148px;
  height: 48px;
  flex-shrink: 0;
}
.header-state {
  position: absolute;
  top: 32px;
  right: 316px;
}
.header-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-32px);
  list-style: none;
  font-family: var(--Font-IRANSans-Regular);
  font-size: var(--Body-XL-Regular);
  
}
.header__text--link {
  color: var(--neutral-gray-7606060);
  text-decoration: none;
  font-weight: var(--Font-weight-400);
}
.Home {
  color: var(--Primary-blue-p);
  border-bottom: 1px solid var(--Primary-blue-p);
  font-weight: var(--Font-weight-600);
  padding-bottom: 6px;
}
.header__text--arrow {
  display: flex;
  gap: var(--gap-8px);
}
.header-list__svg-arrow {
  position: relative;
  top: 4px;
  width: 24px;
  height: 24px;
}
/* support style */
.support {
  display: inline-flex;
  color: var(--neutral-gray-7606060);
  font-weight: var(--Font-weight-400);
  position: relative;
  top: 35px;
  left: 230px;
  gap: var(--gap-8px);
}
.support__number {
  font-family: var(--Font-IRANSans-Light-number);
  font-weight: var(--Font-weight-600);
}
.support__svg-call {
  position: relative;
  top: 4px;
}
/* auth */
.auth {
  position: relative;
  bottom: 4px;
}
.auth__btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 134px;
  height: 40px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: none;
  background-color: var(--Primary-blue-p);
  gap: 8px;
}
/* ---------------- class component----------------------- */
.body-xl {
  font-family: var(--Font-IRANSans-Regular);
  font-size: var(--value-20px);
  font-style: normal;
  line-height: var(--line-height-180); /* 36px */
  text-transform: capitalize;
}
.Button-SM {
  color: var(--neutral-white, #FFF);
  /* Button/sm */
  font-family: var(--Font-IRANSans-Medium);
  font-size: var(--value-14px);
  font-style: normal;
  font-weight: var(--Font-weight-500);
  line-height: var(--value-24px); /* 171.429% */
  text-transform: capitalize;
}
/* -------------------------Responsive---------------------------- */
