/** #Css-rest * */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 1000px;
  }
  img, picture, video, canvas, svg {
    display: block;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/** end css Reset **/

/** #color pallet **/
:root {
  --primary-blue-p: #1D91CC;
  --neutral-white: #FFF;
  --neutral-gray-1-f-9-f-9-f-9: #F9F9F9;
  --neutral-gray-7606060: #606060;
  --primary-tint-1: #E8F4FA;
  --neutral-gray-5-adadad: #ADADAD;
  --neutral-gray-2-ededed: #EDEDED;
  --primary-shade-1: #1774A3;
  --primary-shade-3: #0C3A52;
  --neutral-gray-3-dfdfdf: #DFDFDF;
  --neutral-gray-8404040: #404040;
  --neutral-gray-6868686: #868686;
    /* #color Tint*/
    --Tint-5: #77BDE0;
    --Tint-4: #A5D3EB;
    --Tint-3: #BBDEF0;
    --Tint-2: #D2E9F5;
    --Tint-1: #E8F4FA;
      /** #Color Shade **/
      --Shade-5: #061D29;
      --Shade-4: #092B3D;
      --Shade-3: #0C3A52;
      --Shade-2: #11577A;
      --Shade-1: #1774A3;
        /** #Color Gray **/
        --Black: #0C0C0C;
        --Gray-9: #202020;
        --Gray-8: #404040;
        --Gray-7: #606060;
        --Gray-6: #868686;
        --Gray-5: #ADADAD;
        --Gray-4: #CBCBCB;
        --Gray-3: #DFDFDF;
        --Gray-2: #EDEDED;
        --Gray-1: #F9F9F9;
          /** #Color Error**/
          --Error: #C30000;
          --Error-Light-1: #ED2E2E;
          --Error-Light-2: #FFF2F2;
            /** #Color Success **/
            --Success: #00966D;
            --Success-Light-2: #00BA88;
            --Success-Light-2: #F3FDFA;
              /** #Color Warning **/
              --Warning: #A9791C;
              --Warning-Light-2: #F4B740;
              --Warning-Light-2: #FFF8E1;
}
/** #End color pallet **/

/** spacing (gap) **/
:root {
--gap-8px: 8px;
--gap-12px: 12px;
--gap-16px: 16px;
--gap-24px: 24px;
--gap-32px: 32px;
--gap-40px: 40px;
--gap-48px: 48px;
--gap-56px: 56px;
--gap-64px: 64px;
--gap-80px: 80px;
--gap-120px: 120px;
--gap-160px: 160px;
}
/** #End spacing **/

/* value pixel */
:root {
--value-8px: 8px;
--value-12px: 12px;
--value-14px: 14px;
--value-16px: 16px;
--value-18px: 18px;
--value-20px: 20px;
--value-24px: 24px;
--value-32px: 32px;
--value-40px: 40px;
--value-48px: 48px;
--value-56px: 56px;
--value-64px: 64px;
--value-80px: 80px;
--value-120px: 120px;
--value-160px: 160px;
}
/* end value pixle */


/** #Shadows **/
:root {
  --Drop-shadow-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-6: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-8: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-16: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
  --Cards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0.00);
  --contactCards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 24px 14px 0px rgba(0, 0, 0, 0.05), 0px 42px 17px 0px rgba(0, 0, 0, 0.01), 0px 66px 18px 0px rgba(0, 0, 0, 0.00);
}
/** #End Shadows **/

/** #Fonts **/
/* Thin */
@font-face {
  font-family: "IRANSans-Thin";
  src: url("../Fonts/iransans/Thin/Thin.eot");
  src: url("../Fonts/iransans/Thin/Thin.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Thin/Thin.woff2")format("woff2"),
  url("../Fonts/iransans/Thin/Thin.woff")format("woff"),
  url("../Fonts/iransans/Thin/Thin.ttf")format("truetype")
}
/* UltraLight */
@font-face {
  font-family: "IRANSans-UltraLight";
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot");
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff2")format("woff2"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff")format("woff"),
  url("../Fonts/iransans/UltraLight/UltraLight.ttf")format("truetype")
}
/* Light */
@font-face {
  font-family: "IRANSans-Light";
  src: url("../Fonts/iransans/Light/Light.eot");
  src: url("../Fonts/iransans/Light/Light.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Light/Light.eot.woff2")format("woff2"),
  url("../Fonts/iransans/Light/Light.eot.woff")format("woff"),
  url("../Fonts/iransans/Light/Light.ttf")format("truetype")
}
/* Regular */
@font-face {
  font-family: "IRANSans-Regular";
  src: url("../Fonts/iransans/Regular/Regular.eot");
  src: url("../Fonts/iransans/Regular/Regular.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Regular/Regular.woff2")format("woff2"),
  url("../Fonts/iransans/Regular/Regular.woff")format("woff"),
  url("../Fonts/iransans/Regular/Regular.ttf")format("truetype")
}
/* Medium */
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../Fonts/iransans/Medium/Medium.eot");
  src: url("../Fonts/iransans/Medium/Medium.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Medium/Medium.woff2")format("woff2"),
  url("../Fonts/iransans/Medium/Medium.woff")format("woff"),
  url("../Fonts/iransans/Medium/Medium.ttf")format("truetype")
}
/* Demibold */
@font-face {
  font-family: "IRANSans-Demibold";
  src: url("../Fonts/iransans/Demibold/Demibold.eot");
  src: url("../Fonts/iransans/Demibold/Demibold.eot")format("embedded-opentype"),
  url("../Fonts/iransans/Demibold/Demibold.woff2")format("woff2"),
  url("../Fonts/iransans/Demibold/Demibold.woff")format("woff"),
  url("../Fonts/iransans/Demibold/Demibold.ttf")format("truetype")
}
/* Bold */
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../Fonts/iransans/Bold/Bold.eot");
  src: url("../Fonts/iransans/Bold/Bold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Bold/Bold.woff2")format("woff2"),
  url("../Fonts/iransans/Bold/Bold.woff")format("woff"),
  url("../Fonts/iransans/Bold/Bold.ttf")format("truetype")
}
/* Extrabold */
@font-face {
  font-family: "IRANSans-Extrabold";
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot");
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff2")format("woff2"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff")format("woff"),
  url("../Fonts/iransans/Extrabold/Extrabold.ttf")format("truetype")
}
/* Black */
@font-face {
  font-family: "IRANSans-Black";
  src: url("../Fonts/iransans/Black/Black.eot");
  src: url("../Fonts/iransans/Black/Black.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Black/Black.woff2")format("woff2"),
  url("../Fonts/iransans/Black/Black.woff")format("woff"),
  url("../Fonts/iransans/Black/Black.ttf")format("truetype")
}
/* Medium number */
@font-face {
  font-family: "Medium-Number";
  src: url("../Fonts/iransans/Medium-number/Medium-Number.eot");
  src: url("../Fonts/iransans/Medium-number/Medium-Number.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Medium-number/Medium-Number.woff2")format("woff2"),
  url("../Fonts/iransans/Medium-number/Medium-Number.woff")format("woff"),
  url("../Fonts/iransans/Medium-numberk/Medium-number.ttf")format("truetype")
}
/* Light number */
@font-face {
  font-family: "Light-number";
  src: url("../Fonts/iransans/Light-number/Light-number.eot");
  src: url("../Fonts/iransans/Light-number/Light-number.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Light-numberr.woff2")format("woff2"),
  url("../Fonts/iransans/Light-number/Light-number.woff")format("woff"),
  url("../Fonts/iransans/Light-number/Light-number.ttf")format("truetype")
}
:root {
  --Font-IRANSans-Thin: 'IRANSans-Thin';
  --Font-IRANSans-Light: 'IRANSans-Light';
  --Font-IRANSans-Ultralight: 'IRANSans-Ultralight';
  --Font-IRANSans-Regular: 'IRANSans-Regular';
  --Font-IRANSans-Medium: 'IRANSans-Medium';
  --Font-IRANSans-Demibold: 'IRANSans-Demibold';
  --Font-IRANSans-Bold: 'IRANSans-Bold';
  --Font-IRANSans-Extrabold: 'IRANSans-Extrabold';
  --Font-IRANSans-Black: 'IRANSans-Black';
  --Font-IRANSans-Medium-number: 'Medium-Number';
  --Font-IRANSans-Light-number: 'Light-Number';
}
/* #End Font */

/* Typography */
:root {
  /* display txt size */
  --txt-display1-bold: 64px;
  --txt-display2-bold: 56px;
  /* header txt h1 to h7 */
  --h1-bold: 44px;
  --h2-bold: 40px;
  --h3-bold: 32px;
  --h4-bold: 24px;
  --h5-bold: 20px;
  --h6-bold: 16px;
  --h7-Semibold: 20px;
  /*  Body  */
  --Body-XL-Regular: 20px;
  --Body-LG-Regular: 18px;
  --Body-MD-Regular: 16px;
  --Body-SM-Regular: 14px;
  /* Caption */
  --Caption-md-Regular: 12px;
  --Caption-lg-Bold: 14px;
  --Caption-sm-Bold: 10px;
  /* Button */
  --Button-LG-Medium: 16px;
  --Button-SM-Medium: 14px;
  /* Overline */
  --Overline-LG-Regular: 16px;
  --Overline-SM-Bold: 12px;
  /* English numbers */
  --English-Numbers-regular-18: 18px;
  /* Header Font size */
  --H1-XL-Bold: 16px;
  --H2-LG-Bold: 14px;
  --H3-MD-Medium: 16px;
  --H4-SM-Medium: 14px;
  /* body size */
  --Body-xxG-Regular: 16px;
  --Body-xM-Regular: 14px;
  --Body-LG-Regular: 12px;
  --Body-SM-Regular: 10px;
  /* English numbers */
  --English-Numbers-Bold-18: 12px;
  --English-Numbers-regular-12: 12px;
  /* line height */
  --line-height-180: 180%;
  --line-height-140: 140%;
  --line-height-120: 120%;
  --line-height-Auto: auto;
  /* Font weight */
  --Font-weight-400: 400;
  --Font-weight-500: 500;
  --Font-weight-600: 600;
  --Font-weight-700: 700;
}

/*  */
html {
  direction: rtl;
}

body {
  max-width: 1440px;
  /* background-color: #636060; */
}
.nav {
  display: flex;
  justify-content: space-between;
  width: (1440px,100%);
  height: 104px;
  flex-shrink: 0;
  border: 1px solid var(--neutral-gray-1-f-9-f-9-f-9);
  background-color: var(--neutral-white);
}
.nav__logo {
  position: relative;
  top: 28px;
  right: 108px;
}
.nav__logo-image {
  width: 148px;
  height: 48px;
  flex-shrink: 0;
}
.header-state {
  position: absolute;
  top: 32px;
  right: 316px;
}
.header-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-32px);
  list-style: none;
  font-family: var(--Font-IRANSans-Light);
  font-size: var(--Body-XL-Regular);
  
}
.header__text--link {
  color: var(--neutral-gray-7606060);
  text-decoration: none;
  font-weight: var(--Font-weight-400);
}
.Home {
  color: var(--primary-blue-p);
  border-bottom: 2px solid var(--primary-blue-p);
  font-weight: var(--Font-weight-600);
  padding-bottom: 5px;
}
.header__text--arrow {
  display: flex;
  gap: var(--gap-8px);
}
.header-list__svg-arrow {
  position: relative;
  top: 4px;
  width: 24px;
  height: 24px;
}
  /* ---------navbar => hover underline ease---------- */
  .header__text--link {
    position: relative;
  }
  .header__text .header__text--link::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    top: 40px;
    right: 0;
    bottom: 0;
    background-color: var(--primary-blue-p);
    transition: all 0.3s ease;
  }
  a.header__text--link:hover::after {
    width: 100%;
  }
/* support style */
.support {
  display: inline-flex;
  color: var(--neutral-gray-7606060);
  font-weight: var(--Font-weight-400);
  position: relative;
  top: 35px;
  left: 230px;
  gap: var(--gap-8px);
}
.support__number {
  font-family: var(--Font-IRANSans-Light-number);
  font-weight: var(--Font-weight-600);
}
.support__svg-call {
  position: relative;
  top: 4px;
}
/* auth */
.auth {
  position: relative;
  bottom: 4px;
}
.auth__btn {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 134px;
  height: 40px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-blue-p);
  gap: 8px;
}
/* hamburger menu */
.hamburger-menu {
  display: none;
}
/* login user */
.login-user {
  display: none;
}
/* home page screen */
.home-page-screen__image {
  display: flex;
  background: url('../images/home-page-pic.webp');
  width: 1440px;
  height: 340px;
}
/* search box international */
.search-box-International-flights {
  display: flex;
  width: 1226px;
  height: 225px;
  padding: 24px 25px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray-2-ededed, #EDEDED);
  background: var(--neutral-white, #FFF);
  /* Searchbox shadow */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 0px 4px 0px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 331px;
  right: 107px;
}
/* flight tabbar */
  .flight-tabbar {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    right: 25px;
    top: 24px;
  }
  .icon-airplane {
    background: url("../images/airplane.svg") no-repeat;
    width: 16px;
    height: 16px;
  }
  .international-flight__text,
  .domestic-flight__text {
    display: flex;
    gap: 8px;
  }
  .international-flight__text:hover,
  .domestic-flight__text:hover {
    transform: scale(1.10);
  }
  .domestic-flight__icon {
    width: 16px;
    height: 16px;
    top: 4px;
  }
  .flight-tabbar__underline {
    width: 1176px;
    height: 2px;
    border-radius: 8px;
    background: var(--neutral-gray-2-ededed);
    position: absolute;
    top: 32px;
    right: 0px;
  }
  /* tabbar fill */
  .tabbar-fill {
    display: flex;
    gap: var(--gap-8px);
    position: absolute;
    top: 414px;
    right: 140px;
  }
  .international-flight__return:hover,
  .international-flight__went:hover,
  .international-flight__multi-route:hover {
    background: var(--primary-blue-p);
    border: 1px solid var(--primary-shade-1);
    color: var(--neutral-white);
  }
  /* flight details */
  .flight-details-box {
    display: flex;
    position: absolute;
    top: 484px;
    right: 132px;
    gap: var(--gap-16px);
  }
  .flights__destination__lableline,
  .flights__origin__lableline,
  .flights__round-trip-date__lableline,
  .flights__number-passengers__lableline,
  .flights__class__lableline {
    display: none;
  }
  .informationl-flight-box__input {
    display: flex;
    gap: var(--gap-24px);
  }
  .informationl-flight-box__input input[type=text] {
    outline: none;
  }
  .informationl-flight-box__input input[type=text]:hover {
    outline: 1px solid var(--primary-shade-1, #1774A3);
  }
  .informationl-flight-box__input input[type=text]::placeholder {
    color: var(--neutral-gray-8404040);
  }
  .flight-search__btn {
    display: flex;
  }
  .flight-search-button {
    border: none;
    outline: none;
    cursor: pointer;
  }
   /*  hover underline domestic &international-flight  */
  .domestic-flight {
    position: relative;
  }
  .international-flight {
    position: relative;
  }
  .domestic-flight .domestic-flight__text::after,
  .international-flight .international-flight__text::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
    top: 30px;
    background-color: var(--primary-blue-p);
    transition: all 0.3s ease;
    z-index: 2;
  }
  .domestic-flight__text:hover::after,
  .international-flight__text:hover::after {
    width: 100%;
  }
  .international-flight__text:hover,
  .domestic-flight__text:hover  {
    color: var(--primary-blue-p);
    cursor: pointer;
    z-index: 222222;
  }
/* ---------------- class component----------------------- */
.body-xl {
  font-family: var(--Font-IRANSans-Light);
  font-size: var(--value-20px);
  line-height: var(--line-height-180); /* 36px */
  /* text-transform: capitalize;` */
}
.Button-SM {
  color: var(--neutral-white);
  /* Button/sm */
  font-family: var(--Font-IRANSans-Medium);
  font-size: var(--value-14px);
  font-style: normal;
  font-weight: var(--Font-weight-500);
  line-height: var(--value-24px); /* 171.429% */
  text-transform: capitalize;
}
.Header-bold {
  color: var(--neutral-gray-6868686);
  font-family: var(--Font-IRANSans-Bold);
  font-size: var(--value-16px);
  font-style: normal;
  font-weight: var(--Font-weight-700);
  line-height: var(--line-height-140); /* 22.4px */
  text-transform: capitalize;
}
/* Body/md */
.Body-md {
  color: var(--neutral-gray-5-adadad);
  font-family: var(--Font-IRANSans-Medium);
  font-size: var(--value-16px);
  font-style: normal;
  font-weight: var(--Font-weight-400);
  text-transform: capitalize;
}
/* caption md */
.caption-md {
  font-family: var(--Font-IRANSans-Regular);
  font-size: var(--value-12px);
  font-style: normal;
  font-weight: var(--Font-weight-400);
  line-height: var(--line-height-180); /* 21.6px */
  text-transform: capitalize;
}
.fill-tab-btn {
  display: flex;
  width: 98px;
  height: 40px;
  /* padding: 8px 16px; */
  justify-content: center;
  align-items: center;

  color: var(--primary-shade-3);
  border-radius: 8px;
  border: 1px solid var(--primary-shade-1);
  background: var(--neutral-white);
}
/* caption lg */
.caption-lg {
  font-family: var(--Font-IRANSans-Medium);
  font-size: var(--value-14px);
  font-style: normal;
  font-weight: var(--Font-weight-500);
  line-height: var(--line-height-180); /* 25.2px */
}
/* input text */
.input-text {
  width: 180px;
  height: 48px;
  padding: 0px 24px 0px 0px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--neutral-gray-3-dfdfdf);
  background: var(--neutral-white);
}
/* Mobile/header/medium14 */
.H-md14 {
  color: var(--primary-blue-p);
  
  /* Mobile/header/medium14 */
  font-family: IRANSansXFaNum;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
/* btn */
.btn {
  display: flex;
  width: 160px;
  height: 48px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--primary-blue-p, #1D91CC);
}
/*  */
.display-flex {
  display: flex;
}
.display-none {
  display: none;
}
.gap-8 {
  gap: var(--gap-8px);
}
.color-primary-blue {
  color: var(--primary-blue-p);
}
/* -------------------------Responsive---------------------------- */
@media (width <= 360px){
  .header-state,.left {
    display: none;
  }
  .nav {
    min-width: 360px;
    max-width: 100%;
    height: 64px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 88px;
  }
  .nav__logo-image {
    width: 96px;
    height: 32px;
  }
  .nav__logo {
    position: absolute;
    top: 16px;
    right: 40%;
  }
  .hamburger-menu {
    display: flex;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    position: absolute;
    right: 20px;
  }
  .login-user {
    display: flex;
    padding: 4px;
    gap: 8px;
    border-radius: 4px;
    background: var(--primary-tint-1);
    position: relative;
    right: 47%;
  }
  .login-user__image {
    display: flex;
    width: 16px;
    height: 16px;
  }
  /* home page screen */
  .home-page-screen__image {
    display: flex;
    background: url('../images/home\ page\ screen360px.svg') no-repeat;
    max-width: 480px;
    width: 100vw;
    height: 140px;
    justify-content: flex-end;
    align-items: center;
  }
  .international-flight__icon,.domestic-flight__icon {
    display: none;
  }
  .international-flight__text,
  .domestic-flight__text {
    display: block;
  }
  /* search box */
  .flight-tabbar {
    top: 0px;
    right: 0px;
    gap: 0px;
  }
  .search-box-International-flights {
    width: 320px;
    height: 489px;
    flex-shrink: 0;
    top: 224px;
    right: 20px;
    border: none;
    box-shadow: none;
  }
  .flight-tabbar__underline {
    width: 320px;
  }
  .international-flight__underline {
    width: 160px;
  }
  .international-flight__text {
    text-align: center;
    /* Mobile/header/medium14 */
    font-family: var(--Font-IRANSans-Medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 160px;
  }
  .domestic-flight__text {
    color: var(--neutral-gray-6868686, #868686);
    text-align: center;
    /* Mobile/header/medium14 */
    font-family: var(--Font-IRANSans-Medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    width: 160px;
  }
  .tabbar-fill {
    width: 320px;
    right: 20px;
    gap: 16px;
    top: 275px;
    z-index: 1;
  }
  .fill-tab-btn {
    width: 96px;
    height: 32px;
  }
  .mobile-body-reg {
    color: var(--primary-shade-3);
    text-align: right;
    /* Mobile/body/reg10 */
    font-family: var(--Font-IRANSans-Regular);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  /* flight-details-box */
  .icon-airplane {
    display: none;
  }
  .informationl-flight__icon {
    display: none;
  }
  .flight-details-box {
    display: flex;
    flex-wrap: wrap;
    right: 20px;
    top: 341px;
  }
  .gap-8 {
    gap: 0;
  }
  .informationl-flight-box__input {
    gap: 24;
    flex-wrap: wrap;
    width: 320px;
    height: 40px;
  }
  .flights__destination__lableline,
  .flights__origin__lableline,
  .flights__round-trip-date__lableline,
  .flights__number-passengers__lableline,
  .flights__class__lableline {
    display: block;
  }
  .input-text {
    width: 320px;
    height: 40px;
    padding: 7px 24px 11px 24px;
    justify-content: center;
    align-items: flex-end;
    gap: 235px;
    flex-shrink: 0;
  }
  .flight__origin-destination {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .informationl-flight-box__input {
    color: var(--neutral-gray-8404040);
    font-family: var(--Font-IRANSans-Regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 21.6px */
    text-transform: capitalize;
  }
  .flights__destination,
  .flights__origin,
  .flights__round-trip-date,
  .flights__number-passengers,
  .flights__class {
    background: transparent;
    transition: 0.1s ease;
    z-index: 2222;
    padding: 6px 24px 0px 0px;
  }
  .flights__origin:focus + .flights__origin__lableline, 
  .flights__origin:valid + .flights__origin__lableline,
  .flights__destination:focus + .flights__destination__lableline, 
  .flights__destination:valid + .flights__destination__lableline,
  .flights__round-trip-date:focus + .flights__round-trip-date__lableline,
  .flights__round-trip-date:valid + .flights__round-trip-date__lableline,
  .flights__number-passengers:focus + .flights__number-passengers__lableline,
  .flights__number-passengers:valid + .flights__number-passengers__lableline,
  .flights__class:focus + .flights__class__lableline, 
  .flights__class:valid + .flights__class__lableline {
    transform: translate(0px, -23px);
    z-index: 3333;
    background-color: var(--neutral-white);
    color: var(--primary-shade-1);
  }
  .flights__origin:focus,
  .flights__origin:valid,
  .flights__destination:valid,
  .flights__destination:focus,
  .flights__round-trip-date:valid,
  .flights__round-trip-date:focus,
  .flights__number-passengers:valid,
  .flights__number-passengers:focus,
  .flights__class__lableline:valid,
  .flights__class__lableline:focus {
    border: 1px solid var(--primary-shade-1);
  }
  .flights__origin__lableline {
    font-family: var(--Font-IRANSans-Regular);
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0px 4px;
    /* font-size: 16px; */
    transition: 0.2s ease;
  }
  .flights__destination__lableline {
    font-family: var(--Font-IRANSans-Regular);
    position: absolute;
    right: 15px;
    top: 75px;
    padding: 0 4px;
    /* font-size: 16px; */
    transition: 0.2s ease;
  }
  .flights__round-trip-date__lableline {
    font-family: var(--Font-IRANSans-Regular);
    position: absolute;
    right: 15px;
    top: 140px;
    padding: 0px 4px;
    /* font-size: 16px; */
    transition: 0.2s ease;
  }
  .flights__number-passengers__lableline {
    font-family: var(--Font-IRANSans-Regular);
    position: absolute;
    right: 15px;
    top: 200px;
    padding: 0px 4px;
    /* font-size: 16px; */
    transition: 0.2s ease;
  }
  .flights__class__lableline {
    font-family: var(--Font-IRANSans-Regular);
    position: absolute;
    right: 15px;
    top: 265px;
    padding: 0px 4px;
    /* font-size: 16px; */
    transition: 0.2s ease;
  }
  .flight-search__btn {
    position: absolute;
    top: 324px;
  }
  .flights__origin::placeholder,
  .flights__destination::placeholder,
  .flights__round-trip-date::placeholder,
  .flights__number-passengers::placeholder,
  .flights__class::placeholder {
    color: transparent !important;
    background-color: transparent !important;
  }
  .informationl-flight-box__input input[type=text]:hover {
    outline: none;
  }
  .btn {
    width: 320px;
  }
  /*  hover underline domestic &international-flight 360px */
  .domestic-flight {
    position: relative;
  }
  .domestic-flight__text:hover{
    color: var(--primary-blue-p);
    cursor: pointer;
  }
  .domestic-flight .domestic-flight__text::after,
  .international-flight .international-flight__text::after {
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
    top: 32px;
    background-color: var(--primary-blue-p);
    transition: all 0.3s ease;
  }
  .domestic-flight__text:hover::after {
    width: 100%;
  }
  .international-flight__text:hover,
  .domestic-flight__text:hover {
    transform: scale(1);
  }
  .international-flight {
    position: relative;
  }
  .international-flight__text:hover  {
    color: var(--primary-blue-p);
    cursor: pointer;
  }
  .international-flight__text:hover::after {
    width: 100%;
  }
  /*  */

}