/** #Css-rest * */
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/** end css Reset **/

/** #color pallet **/
:root {
  --Primary-blue: #1D91CC;
    /* #color Tint*/
    --Tint-5: #77BDE0;
    --Tint-4: #A5D3EB;
    --Tint-3: #BBDEF0;
    --Tint-2: #D2E9F5;
    --Tint-1: #E8F4FA;
      /** #Color Shade **/
      --Shade-5: #061D29;
      --Shade-4: #092B3D;
      --Shade-3: #0C3A52;
      --Shade-2: #11577A;
      --Shade-1: #1774A3;
        /** #Color Gray **/
        --Black: #0C0C0C;
        --Gray-9: #202020;
        --Gray-8: #404040;
        --Gray-7: #606060;
        --Gray-6: #868686;
        --Gray-5: #ADADAD;
        --Gray-4: #CBCBCB;
        --Gray-3: #DFDFDF;
        --Gray-2: #EDEDED;
        --Gray-1: #F9F9F9;
          /** #Color Error**/
          --Error: #C30000;
          --Error-Light-1: #ED2E2E;
          --Error-Light-2: #FFF2F2;
            /** #Color Success **/
            --Success: #00966D;
            --Success-Light-2: #00BA88;
            --Success-Light-2: #F3FDFA;
              /** #Color Warning **/
              --Warning: #A9791C;
              --Warning-Light-2: #F4B740;
              --Warning-Light-2: #FFF8E1;
}
/** #End color pallet **/

/** spacing **/
:root {
--s-8px: 8px;
--s-12px: 12px;
--s-16px: 16px;
--s-24px: 24px;
--s-32px: 32px;
--s-40px: 40px;
--s-48px: 48px;
--s-56px: 56px;
--s-64px: 64px;
--s-80px: 80px;
--s-120px: 120px;
--s-160px: 160px;
}
/** #End spacing **/

/** #Shadows **/
:root {
  --Drop-shadow-2: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-4: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-6: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-8: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-12: 0px 12px 12px 0px rgba(0, 0, 0, 0.25);
  --Drop-shadow-16: 0px 16px 16px 0px rgba(0, 0, 0, 0.25);
  --Cards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 9px 5px 0px rgba(0, 0, 0, 0.05), 0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 25px 7px 0px rgba(0, 0, 0, 0.00);
  --contactCards-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 3px 6px 0px rgba(0, 0, 0, 0.10), 0px 11px 11px 0px rgba(0, 0, 0, 0.09), 0px 24px 14px 0px rgba(0, 0, 0, 0.05), 0px 42px 17px 0px rgba(0, 0, 0, 0.01), 0px 66px 18px 0px rgba(0, 0, 0, 0.00);
}
/** #End Shadows **/

/** #Fonts **/
/* Thin */
@font-face {
  font-family: "IRANSans-Thin";
  src: url("../Fonts/iransans/Thin/Thin.eot");
  src: url("../Fonts/iransans/Thin/Thin.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Thin/Thin.woff2")format("woff2"),
  url("../Fonts/iransans/Thin/Thin.woff")format("woff"),
  url("../Fonts/iransans/Thin/Thin.ttf")format("truetype")
}
/* UltraLight */
@font-face {
  font-family: "IRANSans-UltraLight";
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot");
  src: url("../Fonts/iransans/UltraLight/UltraLight.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff2")format("woff2"),
  url("../Fonts/iransans/UltraLight/UltraLight.woff")format("woff"),
  url("../Fonts/iransans/UltraLight/UltraLight.ttf")format("truetype")
}
/* Light */
@font-face {
  font-family: "IRANSans-Light";
  src: url("../Fonts/iransans/Light/Light.eot");
  src: url("../Fonts/iransans/Light/Light.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Light/Light.eot.woff2")format("woff2"),
  url("../Fonts/iransans/Light/Light.eot.woff")format("woff"),
  url("../Fonts/iransans/Light/Light.ttf")format("truetype")
}
/* Regular */
@font-face {
  font-family: "IRANSans-Regular";
  src: url("../Fonts/iransans/Regular/Regular.eot");
  src: url("../Fonts/iransans/Regular/Regular.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Regular/Regular.woff2")format("woff2"),
  url("../Fonts/iransans/Regular/Regular.woff")format("woff"),
  url("../Fonts/iransans/Regular/Regular.ttf")format("truetype")
}
/* Medium */
@font-face {
  font-family: "IRANSans-Medium";
  src: url("../Fonts/iransans/Medium/Medium.eot");
  src: url("../Fonts/iransans/Medium/Medium.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Medium/Medium.woff2")format("woff2"),
  url("../Fonts/iransans/Medium/Medium.woff")format("woff"),
  url("../Fonts/iransans/Medium/Medium.ttf")format("truetype")
}
/* Demibold */
@font-face {
  font-family: "IRANSans-Demibold";
  src: url("../Fonts/iransans/Demibold/Demibold.eot");
  src: url("../Fonts/iransans/Demibold/Demibold.eot")format("embedded-opentype"),
  url("../Fonts/iransans/Demibold/Demibold.woff2")format("woff2"),
  url("../Fonts/iransans/Demibold/Demibold.woff")format("woff"),
  url("../Fonts/iransans/Demibold/Demibold.ttf")format("truetype")
}
/* Bold */
@font-face {
  font-family: "IRANSans-Bold";
  src: url("../Fonts/iransans/Bold/Bold.eot");
  src: url("../Fonts/iransans/Bold/Bold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Bold/Bold.woff2")format("woff2"),
  url("../Fonts/iransans/Bold/Bold.woff")format("woff"),
  url("../Fonts/iransans/Bold/Bold.ttf")format("truetype")
}
/* Extrabold */
@font-face {
  font-family: "IRANSans-Extrabold";
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot");
  src: url("../Fonts/iransans/Extrabold/Extrabold.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff2")format("woff2"),
  url("../Fonts/iransans/Extrabold/Extrabold.woff")format("woff"),
  url("../Fonts/iransans/Extrabold/Extrabold.ttf")format("truetype")
}
/* Black */
@font-face {
  font-family: "IRANSans-Black";
  src: url("../Fonts/iransans/Black/Black.eot");
  src: url("../Fonts/iransans/Black/Black.eot?#iefix")format("embedded-opentype"),
  url("../Fonts/iransans/Black/Black.woff2")format("woff2"),
  url("../Fonts/iransans/Black/Black.woff")format("woff"),
  url("../Fonts/iransans/Black/Black.ttf")format("truetype")
}
:root {
  --Font-IRANSans-Thin: 'IRANSans-Thin';
  --Font-IRANSans-Light: 'IRANSans-Light';
  --Font-IRANSans-Ultralight: 'IRANSans-Ultralight';
  --Font-IRANSans-Regular: 'IRANSans-Regular';
  --Font-IRANSans-Medium: 'IRANSans-Medium';
  --Font-IRANSans-Demibold: 'IRANSans-Demibold';
  --Font-IRANSans-Bold: 'IRANSans-Bold';
  --Font-IRANSans-Extrabold: 'IRANSans-Extrabold';
  --Font-IRANSans-Black: 'IRANSans-Black';
}
/* #End Font */